.link_button {
  background: inherit;
  border: inherit;
  font-size: inherit;
  padding: inherit;
  color: inherit;
  cursor: inherit;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}
