.link_button {
    background: inherit;
    border: inherit;
    font-size: inherit;
    padding: inherit;
    color: #1d70b8 !important;
    cursor: pointer;
    text-decoration: underline;
}

.link_button:hover,
.link_button:focus {
    color: #003078;
}

.link_button:visited {
    color: #4c2c92;
}

.link_button:active {
    color: #0b0c0c;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-icon {
    float: left;
}