<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Filter out assets calls clogging up console -->
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return message.contains("/assets/");</expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %date{ISO8601} %highlight(%-5level) %cyan(%logger{36}) %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="play" level="INFO"/>

    <logger name="application" level="INFO"/>

    <logger name="uk.gov.hmrc.audit" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="ASYNCSTDOUT"/>
    </root>
</configuration>
